@keyframes head_from_tail {
    0% {
        transform: rotateX(0deg) scale(1, 1);
    }

    50% {
        transform: rotateX(calc((5 * 360deg + 180deg) / 2)) scale(2, 2);
    }

    100% {
        transform: rotateX(calc(5 * 360deg + 180deg)) scale(1, 1);
    }
}

@keyframes tail_from_tail {
    0% {
        transform: rotateX(0deg) scale(1, 1);
    }

    50% {
        transform: rotateX(calc(5 * 360deg / 2)) scale(2, 2);
    }

    100% {
        transform: rotateX(calc(5 * 360deg)) scale(1, 1);
    }
}

@keyframes head_from_head {
    0% {
        transform: rotateX(180deg) scale(1, 1);
    }

    50% {
        transform: rotateX(calc((6 * 360deg) / 2)) scale(2, 2);
    }

    100% {
        transform: rotateX(calc(5 * 360deg + 180deg)) scale(1, 1);
    }
}
@keyframes tail_from_head {
    0% {
        transform: rotateX(180deg) scale(1, 1);
    }

    50% {
        transform: rotateX(calc((5 * 360deg + 180deg) / 2)) scale(2, 2);
    }

    100% {
        transform: rotateX(calc(5 * 360deg)) scale(1, 1);
    }
}


#Coin {
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
}

.coin-side {
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}

#Coin {
    -webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

#Coin.start-tail {
    -webkit-transform: rotateX(0deg);
       -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
            transform: rotateX(0deg);
}
#Coin.start-head {
    -webkit-transform: rotateX(180deg);
       -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
            transform: rotateX(180deg);
}
#Coin.head {
    /*
    -webkit-transition: -webkit-transform 2s, width 0.5s, height 0.5s;
       -moz-transition: -moz-transform 2s, width 0.5s, height 0.5s;
        -ms-transition: -ms-transform 2s, width 0.5s, height 0.5s;
            transition: transform 2s, width 0.5s, height 0.5s;
    */

    -webkit-transform: rotateX(180deg);
       -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
            transform: rotateX(180deg);

    -webkit-animation: head_from_tail 2s linear;
    animation: head_from_tail 2s linear;
}
#Coin.tail {
    /*
    -webkit-transition: -webkit-transform 2s;
       -moz-transition: -moz-transform 2s;
        -ms-transition: -ms-transform 2s;
            transition: transform 2s;
            */

    -webkit-transform: rotateX(0deg);
       -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
            transform: rotateX(0deg);

    -webkit-animation: tail_from_tail 2s linear;
    animation: tail_from_tail 2s linear;
}
#Coin.start-head.head {
    -webkit-animation: head_from_head 2s linear;
    animation: head_from_head 2s linear;
}
#Coin.start-head.tail {
    -webkit-animation: tail_from_head 2s linear;
    animation: tail_from_head 2s linear;
}

#CoinHead {
    -webkit-transform: rotateX(180deg);
       -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
            transform: rotateX(180deg);
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

#Surface {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

#Coin {
    position: absolute;
    top: calc(50% - 10vh);
    left: 50%;
}

.coin-side {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


.coin-side {
    background-size: 100% 100%;
    border-radius: 50%;
}

.coin-tail {
    background-image:
    url(images/coins/tails/dime-coin-tail.png);
    background-image: image-set(
      url(images/coins/tails/dime-coin-tail.webp),
      url(images/coins/tails/dime-coin-tail.png)
    );
}

.coin-head {
    background-image: url(images/coins/heads/dime-coin-head.png);
    background-image: image-set(
      url(images/coins/heads/dime-coin-head.webp),
      url(images/coins/heads/dime-coin-head.png)
    );
}

#History {
  background-color: #252525;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: space-evenly;
}

#History .coin {
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}
#History .coin-side {
  width: calc(10vh * 0.7);
  height: calc(10vh * 0.7);
  position: static;
}

@media (min-width: 150px) and (min-height: 150px) {
    #Coin {
        height: 50px;
        width: 50px;
        margin-top: -25px;
        margin-left: -25px;
    }
}
@media (min-width: 250px) and (min-height: 250px) {
    #Coin {
        height: 100px;
        width: 100px;
        margin-top: -50px;
        margin-left: -50px;
    }
}
@media (min-width: 350px) and (min-height: 350px) {
    #Coin {
        height: 200px;
        width: 200px;
        margin-top: -100px;
        margin-left: -100px;
    }
}
@media (min-width: 450px) and (min-height: 450px) {
    #Coin {
        height: 300px;
        width: 300px;
        margin-top: -150px;
        margin-left: -150px;
    }
}
@media (min-width: 550px) and (min-height: 550px) {
    #Coin {
        height: 400px;
        width: 400px;
        margin-top: -200px;
        margin-left: -200px;
    }
}
@media (min-width: 650px) and (min-height: 650px) {
    #Coin {
        height: 500px;
        width: 500px;
        margin-top: -250px;
        margin-left: -250px;
    }
}
@media (min-width: 750px) and (min-height: 750px) {
    #Coin {
        height: 600px;
        width: 600px;
        margin-top: -300px;
        margin-left: -300px;
    }
}
@media (min-width: 1000px) and (min-height: 1000px) {
    #Coin {
        height: 850px;
        width: 850px;
        margin-top: -425px;
        margin-left: -425px;
    }
}
